<div class="col-sm-6" ng-controller="EntriesCtrl">

    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-click="clear()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-trash"> </span>
                    &nbsp;Clear all
                </button>
            </div>
        </div>
        <div class="form-group">
            <label for="choseEntry" class="col-sm-2 control-label">Entry</label>

            <div class="dropdown col-sm-10">
                <button class="btn btn-primary dropdown" type="button" id="choseEntry"
                        data-toggle="dropdown"
                        aria-expanded="true">
                    {{current.title}}
                    &nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li role="presentation" ng-repeat="current in entries | orderBy:'-creationDate'">
                        <a ng-click="choose(current)" href="#/entries/{{current.id}}">{{current.title}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAuthor" class="col-sm-2 control-label">Author</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputAuthor" placeholder="Author of the entry"
                       ng-model="current.author"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Title</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitle" placeholder="Title of the entry"
                       ng-model="current.title"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputTeaser" class="col-sm-2 control-label">Teaser</label>

            <div class="col-sm-10">
                <textarea class="form-control" rows="2" id="inputTeaser"
                          placeholder="Short introduction text for the entry"
                          ng-model="current.teaser"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputContent" class="col-sm-2 control-label">Content</label>

            <div class="col-sm-10">
                <textarea class="form-control" rows="4" id="inputContent"
                          placeholder="The whole entry. It can contain new lines."
                          ng-model="current.content"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-click="create(current)" class="btn btn-primary">
                    <span class="glyphicon glyphicon glyphicon-plus-sign"></span>
                    &nbsp;New entry
                </button>
                <button type="submit" ng-click="update(current)" class="btn btn-primary">
                    <span class="glyphicon glyphicon glyphicon-refresh"></span>
                    &nbsp;Update entry
                </button>
                <button type="submit" ng-click="delete(current.id)" class="btn btn-primary">
                    <span class="glyphicon glyphicon-trash"></span>
                    &nbsp;Delete entry
                </button>
            </div>
        </div>

        <div class="well">
            <h1>{{current.title}}</h1>

            <p>by {{ current.author }}</p>
            <small>
                <span class="glyphicon glyphicon-time"></span>
                {{ current.creationDate | date:"dd.MM.yyyy 'at' HH:mm" }}
            </small>

            <hr/>

            <p class="lead">{{ current.teaser }}</p>

            <div ng-bind-html="toHTML(current.content)"></div>
        </div>
    </form>
</div>
